.container {
  display: block;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(197, 136, 136, 0.2);
}
.cal-select {
  width: 250px;
}
.form-field-label {
  font-size: 16px;
  display: block;
  margin: 0.7rem 0;
  color: gray;
}

select,
input {
  box-sizing: border-box;
  display: block;
  height: 3rem;
  width: 100%;
  font-size: 1.3rem;
  padding: .4rem 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
}

.cal-select select {
  background: #c12d2d;
  color: #fff;
}

.select-wrap {
  position: relative;
}

.select-child {
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.select-wrap .icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  background: #f7f5f5;
}

.form-container {
  display: flex;
  width: 100%;
}

.form-field-left,
.form-field-right {
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-field-left {
  margin-right: 1rem;
}
.form-field-right {
  margin-left: 1rem;
}
.result span {
  padding-left: .8rem;
  font-size: 1.6rem;

}

.result i {
  font-size: 1.4rem;
  color: gray
}

.color-white {
  color: #fff;
}
.color-red {
  color: #c12d2d
}
.color-text {
  color: #333 !important;
}

.tab-header {
  display: flex;
  flex-wrap: nowrap;
  height: 70px;
}
.tab-header div {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.tab-header div.active {
  background-color: #c12d2d;
}