<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Currency From</label>
        <div class="select-wrap select-child">
            <select [formControl]="currencyFromCtrl">
                <option *ngFor="let option of currencies" [value]="option.value">{{option.label}}</option>
            </select>
            <i class="icon color-red fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Currency To</label>
        <div class="select-wrap select-child currency-ctl">
            <select [formControl]="currencyToCtrl">
                <option *ngFor="let option of currencies" [value]="option.value">{{option.label}}</option>
            </select>
            <i class="icon color-red fas fa-chevron-down"></i>
            <div class="currency-icon">
              <app-currency-icon [type]="currencyToCtrl.value" color="red"></app-currency-icon>
            </div>
        </div>
    </div>
</div>
<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Amount</label>
        <input [formControl]="amountCtrl" type="number">
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Currency Conversion Price(
            {{currencyFromCtrl.value}}/{{currencyToCtrl.value}})</label>
        <input [formControl]="currencyConversionPriceCtrl" [attr.disabled]="true" type="number">
    </div>
</div>
<label class="form-field-label">Conversion Value({{currencyToCtrl.value}}) </label>
<div class="result">
  <app-currency-icon [type]="currencyToCtrl.value" color="black"></app-currency-icon>
  <span class="color-red">{{result}}</span>
</div>
