<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Account Currency</label>
        <select [formControl]="accountCurrencyCtrl">
            <option *ngFor="let option of currencies" [value]="option.value">{{option.label}}</option>
        </select>
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Swap Long</label>
        <input [formControl]="swapLongCtrl" type="number">
    </div>
</div>
<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Currency Pair</label>
        <select [formControl]="currencyPairCtrl">
            <option *ngFor="let option of currencyPairOptions" [value]="option.value">{{option.label}}</option>
        </select>
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Swap Short</label>
        <input [formControl]="swapShortCtrl" type="number">
    </div>
</div>
<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Trade Size (In units)</label>
        <input [formControl]="tradeSizeCtrl" type="number">
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Current Conversion Price</label>
        <input [formControl]="currencyConversionPriceCtrl" type="number">
    </div>
</div>
<label class="form-field-label">Swaps Values </label>
<div class="result">
    {{result}}
</div>