<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Account Currency</label>
        <div class="select-wrap select-child">
          <select [formControl]="accountCurrencyCtrl">
            <option *ngFor="let option of accountCurrencyOptions" [value]="option.value">{{option.label}}</option>
          </select>
          <i class="icon color-red fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Currency Pair</label>
        <div class="select-wrap select-child">
          <select [formControl]="currencyPairCtrl">
              <option *ngFor="let option of currencyPairOptions" [value]="option.value">{{option.label}}</option>
          </select>
          <i class="icon color-red fas fa-chevron-down"></i>
        </div>
    </div>
</div>
<div class="form-container">
    <div class="form-field-left">
        <label class="form-field-label">Trade Size(In units)</label>
        <input [formControl]="tradeSizeCtrl" type="number">
    </div>
    <div class="form-field-right">
        <label class="form-field-label">Currency Conversion Price(
            {{accountCurrencyCtrl.value}}/{{currencyPairCtrl.value.split('/')[1]}})</label>
        <input [formControl]="currencyConversionPriceCtrl" [attr.disabled]="true" type="number">
    </div>
</div>
<label class="form-field-label color-text">PIP Value ({{accountCurrencyCtrl.value}})</label>
<div class="result">
  <i [class]="currencyIcon$ | async"></i> <span class="color-red">{{pipValue}}</span>
</div>
